.recommended-container {
  width: 88%;
  padding: 20px 40px;
  margin-left: 20px;
  

}

.recommended-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.recommended-grid {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between
  
  
}

/* Event card */
.event-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease-in-out;
}

.event-card:hover {
  transform: translateY(-4px);
}

/* Event image */
.event-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

/* Event info */
.event-info {
  padding: 15px;
}

.event-info h3 {
  font-size: 18px;
  color: #444;
  margin-bottom: 5px;
}

.event-info p {
  margin: 3px 0;
  color: #666;
}

.location {
  font-style: italic;
}

/* Button */
.btn {
  margin-top: 10px;
  padding: 10px 14px;
  width: 100%;
  background: #4c6ef5;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #3b5bdd;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .event-info h3 {
    font-size: 16px;
  }

  .recommended-title {
    font-size: 20px;
  }
}
