
.notification-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 36px;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification-container h2 {
  text-align: center;
  margin-bottom: 20px;
   font-size: 1.5em;
  font-weight: bold;
  color: #000;
}

.notification-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notification-card {
    display: flex;
    align-items:first baseline;
    gap: 20px;
  background: #f8f8f8;
  padding: 15px 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: 0.2s ease-in-out;
}

.notification-card:hover {
  background: #f0f0f0;
}

.activityDot {
  width: 10px;
  height: 10px;
  background: #00c46c;
  border-radius: 50%;
  margin-top: 6px;
}

.notification-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.notification-card p {
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.4;
}

.time {
  font-size: 12px;
  color: #555;
}
