.role-requests-container {
  width: 90%;
  padding: 40px 60px;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

/* Table container */
.requests-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Header */
.table-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 12px 15px;
  background: #f4f4f4;
  border-radius: 10px;
  font-weight: 600;
  color: #333;
}

/* Rows */
.table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 12px 15px;
  background: #fff;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
  gap: 16px;
}

/* Badges */
.badge {
  padding: 5px 10px;
  border-radius: 6px;
  color: #000;
}

.requested-role {
  width: 60px;
  padding: 6px 12px;
  

}

.requested {
  width: 60px;
  padding: 6px 12px;
}

/* Buttons */
.actions {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 8px 12px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.approve {
  background: #aede33;
  color: #000;
}

.approve:hover {
 background-color: #0f7c0f;
}

.reject {
  background: #fa5252;
  color: white;
}

.reject:hover {
  background-color: brown;
}

/* --------------------------------------------- */
/* RESPONSIVE DESIGN */
/* --------------------------------------------- */

/* Tablet */
@media (max-width: 900px) {
  .table-header {
    display: none;
  }

  .table-row {
     grid-template-columns: repeat(1, 1fr);
    /* display: flex;
    flex-direction: column; */
    gap: 8px;
    padding: 15px;
  }

  .table-row span {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 15px;
  }

  .table-row span::before {
    content: attr(data-label);
    font-weight: 600;
    color: #555;
  }
  .requested-role {
  padding: 0px;
}
.badge {
     padding: 0px;
}
.role-requests-container {
  
  padding: 40px 10px;
}
}

/* Small screens */
@media (max-width: 480px) {
  .page-title {
    font-size: 20px;
  }

  .btn {
    width: 100%;
  }

  .actions {
    flex-direction: column;
  }
}
