.eventChartContainer {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 26%;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.chartHeading {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

@media (max-width: 768px) {
.eventChartContainer{
  width: 100%;
  padding: 40px 10px;
}
}
@media (max-width: 576px) {
.eventChartContainer{
  width: 100%;
  padding: 40px 10px;
}
}