.chartContainer {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  width: 60%;
  color: #000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.chartTitle {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.linChat{
    background-color:#f4fce6;
}