.supportContainer {
  background: #f5f4f7;
  padding: 24px;
  border-radius: 10px;
  width: 33%;
  color: #000;
}

.supportHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.chartWrapper {
  width: 100%;
  height: 300px;
}


@media (max-width: 576px) {
.supportContainer {
width: 100%;
}
}