.salesContainer {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 25%;
  color: #000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.salesHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.chartWrapper {
  width: 100%;
  height: 300px;
}