.feedsContainer {
  background:#f5f4f7;
  padding: 24px;
  border-radius: 10px;
  color: #000;
  width: 56%;
  
}

.feedsHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.activityList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.activityItem {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.activityItem:hover {
  border-color: #00c46c;
  transform: translateY(-2px);
}

.activityLeft {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.activityDot {
  width: 10px;
  height: 10px;
  background: #00c46c;
  border-radius: 50%;
  margin-top: 6px;
}

.activityAction {
  font-weight: 600;
  margin: 0;
}

.activityDetails {
  margin: 2px 0 0;
  font-size: 0.85rem;
  color: #000;
}

.activityTime {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  color: #000;
}

@media (max-width: 576px) {
.feedsContainer {
  width: 100%;
  
}

}