.settings-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settings-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.settings-form section h3 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #0f7c0f;
}

.settings-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
}

.settings-form input,
.settings-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 6px;
}

.checkbox-field {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.save-btn {
  padding: 12px;
  background-color: #0f7c0f;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.save-btn:hover {
  opacity: 0.9;
}
